.pagList ul{
    display: flex;
    color: red;
    background-color: hwb(240 99% 0%);
    justify-content: space-around;
    font-size: 30px;
    padding-top: 3em;
    padding-bottom: 3em;
}

.pagList li{
    display: flex;
    padding: 1em;
    background-color: #ecebeb;
    border-radius: 50%;
}