
.formSideBar{
    
    width: 300px;
    padding: 1em;
    margin-left: 3em;
    margin-top: 3em;
    border: #D0D2E2 solid;

    border-radius: 25px;
}

form{
    border: RED;

}


input[type =text]{
    font-size: 25px;
}
img{
    width: 300px;
    padding-bottom: 15px;
    border-radius: 50%;
}
.details {
    display: flex;
   padding-top: 7em;
  
}

.details ul{
    background-color: #F5CBCB;
    padding: 7em;
    box-shadow: 30px 30px #f1f1f1;

    margin: 0 auto;
    border-radius: 9%;
}

.details li{
    margin: 5px;
    padding-bottom: 10px;
}

button{
    display: flex;
    padding: 2em;
   justify-content: center;
   margin-top: 2em;
   border-radius: 10%;
   border: none;
}

 a{
    text-decoration: none;
}

.details li{
    list-style: none;
}

.text{
    font-size: 20px;
    width: 300px;
    max-width: 100%;
}

.textName{
    font-weight: bolder;
    font-size: 25px;
}

/* .location{

} */
/* .mentors{

}
.text  li{
    display: flex;
    margin-left: auto;
    float: right;
} */